body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.9); /* Fondo de la página */
  flex-direction: column;
  text-align: center;
  overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
}

main {
  margin-top: 100px; /* Ajuste para evitar la superposición con la barra de navegación fija */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.9); /* Fondo del formulario */
  padding: 20px;
  border-radius: 8px;
  border: 2px solid rgba(50, 50, 50, 0.349); /* Borde blanco del formulario */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  width: 90%;
  max-width: 400px;
  margin-bottom: 90px; /* Espacio hacia abajo para separación del footer */
  margin-top: 20px;
  align-items: center;
  margin-left:40px; 
}

.input-field {
  position: relative;
  margin-bottom: 30px;
  margin-top: 10px;
}

.input-field input {
  width: 85%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid rgba(120, 120, 120, 1);
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
  border-radius:9px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.input-field input:not(:focus):not(:placeholder-shown) + label {
  top: 50%;  /* Posición inicial del label dentro del input */
  transform: translateY(-50%);
  color: #aaa;  /* Color del texto del label cuando no está enfocado */
}


.input-field input:focus {
  color: black;
  background-color: white;
}

.input-field label {
  position: absolute;
  left: 30px;
  top: 0%; 
  transform: translateY(-300%);
  color: #fff;
  font-size: 15px;
  pointer-events: none;
  transition: transform 0.3s ease, color 0.3s ease;
  font-family: "Ubuntu";
  font-weight: bold;
}

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-100%);
  color: white;
}

.submit-btn {
  background-color: rgba(50, 50, 50, 0.349);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 95%;
  box-shadow: 0 0 10px rgba(80,80,80,0.1);
  font-family: "Ubuntu";
  font-weight: bold;


  /*Ocuparelanchocompletodelformulario*/
  
}

.submit-btn:hover {
  background-color: #555;
}

header {
  background-color: rgba(0, 0, 0, 0.9); /* Transparencia */
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-left {
  flex-grow: 1;
}

.nav-right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.elementoNavegacion a,
.elementoNavegacion p {
  display: block;
  color: white; /* Color de texto predeterminado */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0;
  transition: opacity 0.3s ease; /* Transición para la opacidad del texto */
  font-weight: bold;
  font-size: 17px;
  position: relative;
}

.elementoNavegacion a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Ajusta la posición del subrayado */
  width: 0; /* Inicialmente no visible */
  height: 2px;
  background-color: white; /* Color del subrayado */
  transition: width 0.3s ease; /* Transición para la animación del subrayado */
}

.elementoNavegacion a:hover::after {
  width: 100%; /* Ancho completo del subrayado al pasar el ratón */
}

.elementoNavegacion a.active {
  opacity: 0.7; /* Texto semi-transparente para el enlace activo */
  color: rgba(192, 192, 192);
}

.elementoNavegacion a.active::after {
  width: 100%; /* Asegura que el subrayado esté presente en el enlace activo */
}

.elementoNavegacionboton {
  text-align: center;
}

.boton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  height: 2.5rem;
  width: 180px;
  margin: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  border: none;
  border-radius: 6.25rem;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  box-shadow: rgba(50, 50, 50, 0.349) 1px 4px 16px -6px;
  cursor: pointer;
  outline: 0;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}

.boton:hover {
  background: rgba(0, 0, 0, 0); /* Cambio de fondo al pasar el ratón */
  box-shadow: rgba(0, 0, 0, 0.7) 1px 4px 20px -6px; /* Aumenta la sombra al pasar el ratón */
  border: solid white 2px; /* Borde blanco de 2px al pasar el ratón */
}

.boton:active {
  transform: translateY(0px);
  box-shadow: rgba(0, 0, 0, 0.3) 1px 4px 10px -6px inset;
}

.boton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5); /* Contorno de foco personalizado */
}

nav .nav-center {
  text-align: center;
  flex-grow: 2;
  margin: 0 auto; 
  margin-right: 93px; /* Ajuste específico para centrar y alinear correctamente */
}

nav .nav-center p {
  margin: 0;
  padding: 14px 16px;
  font-weight: bold;
  font-size: 20px;
}

.menu-icon {
  display: block;
  font-size: 20px;
  cursor: pointer;
}

/* Media Query para botones responsivos */
@media (max-width: 600px) {
  .store-buttons {
      flex-direction: column;
      align-items: center;
  }

  .store-button {
      width: 55%;
      margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .menu-icon {
      /* Estilos específicos para pantallas de hasta 600px de ancho */
      position: fixed; /* Ejemplo de posición fija para que el icono se mantenga en su lugar */
      top: 10px;
      right: 10px;
  }
}
@media screen and (min-width: 769px) {
  .menu-icon {
      /* Estilos específicos para pantallas de hasta 600px de ancho */
      position: fixed; /* Ejemplo de posición fija para que el icono se mantenga en su lugar */
      top: 10px;
      right: 10px;
      cursor: pointer;
      display: none;
  }
}

@media screen and (max-width: 600px) {
  .menu-icon {
      /* Estilos específicos para pantallas de hasta 600px de ancho */
      position: fixed; /* Ejemplo de posición fija para que el icono se mantenga en su lugar */
      top: 10px;
      right: 10px;
      cursor: pointer;
      
  }
}

@media (max-width: 600px) {
  .store-buttons {
    flex-direction: column;
    align-items: center;
  }

  .store-button {
    width: 55%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .nav-left {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 10px 0;
      text-align: center;
      transition: all 0.3s ease;
      z-index: 1000;
  }

  .nav-left.active {
      display: flex;
  }

  .nav-left li {
      margin: 10px 0;
  }

  .nav-right {
      flex-grow: 0;
  }

  .menu-icon {
      position: fixed; /* Ejemplo de posición fija para que el icono se mantenga en su lugar */
      top: 10px;
      right: 10px;
      margin-top: 10px;
      cursor: pointer;
      
  }

  main {
      padding: 0 10px;
  }

  
  .elementoNavegacionboton {
      margin-bottom: 10px;
      margin-top: 10px;

      

  }
}


/* Estilos para el pie de página */
footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
  border-top: 2px solid rgba(192, 192, 192, 1);
}

footer span a {
  display: inline-block;
  text-align: center;
  text-decoration: underline;
  color: white;
  margin: 0 auto;
  margin-left: 682px;
  font-family: "Nanum Myeongjo";
  font-weight: bold;
  letter-spacing: 1.3px; 
}

footer a:visited {
  color: rgba(139, 139, 139, 0.374);
}

footer a:hover {
  color: rgba(58, 225, 255, 0.538);
}